
  <div class="table-wrapper" (window:resize)="onResize($event)" #tableWrapper >
    <table (scroll)="onScroll($event)">
      <thead #thead>
          <tr>
              <th><span> 1Column 1It is a long estab lished fac</span> </th>
              <th><span>2 Column 2</span> </th>
              <th><span>3 ColumnF 3</span> </th>
              <th><span>4 Col4</span> </th>
              <th><span>5 Column 5</span> </th>
              <th><span>6 ColuAAAA AAAAAAA AAAAAAA AAAAAAAA</span> </th>
              <th><span>7 Column 5</span> </th>
              <th><span>8 Col 5</span> </th>
              <th><span>9 Codgf sddddddlumn 5</span> </th>          
            </tr>
      </thead>

      <tbody #tbody>
          <tr>
              <td><span>AAAAAAAAAAAAAAAAAAAAAAAAAA</span></td>
              <td><span>Row 1</span></td>
              <td><span>Row 1</span></td>
              <td><span></span></td>
              <td><span>Row 1</span></td>
              <td><span>Row 1</span></td>
              <td><span>Row 1</span></td>
              <td><span></span></td>
              <td><span>Row 1</span></td>
          </tr>
          <tr>
              <td><span>Row 2</span></td>
              <td><span>Row 2</span></td>
              <td><span>Row 2</span></td>
              <td><span>Row 2</span></td>
              <td><span>Row 2</span></td>
              <td><span>Row 2</span></td>
              <td><span>It is a long established fac</span></td>
              <td><span>Row 2</span></td>
              <td><span>Row 2</span></td>
          </tr>
          <tr>
              <td><span>Row 3</span></td>
              <td><span>It is a long established fac</span></td>
              <td><span>Row 3</span></td>
              <td><span>Row 3</span></td>
              <td><span>Row 3</span></td>
              <td><span>Row 3</span></td>
              <td><span>It is a long established fac</span></td>
              <td><span>Row 3</span></td>
              <td><span>Row 3</span></td>
          </tr>
          <tr>
              <td><span>Row 4</span></td>
              <td><span>Row 4</span></td>
              <td><span></span></td>
              <td><span></span></td>
              <td><span>Row 4</span></td>
              <td><span>Row 4</span></td>
              <td><span></span></td>
              <td><span></span></td>
              <td><span>Row 4</span></td>
          </tr>
          <tr>
              <td><span>Lorem Ipsum is Row 5</span></td>
              <td><span>Row 5</span></td>
              <td><span>RowLorem Ipsum is Lorem Ipsum is Lorem Ipsum is  5</span></td>
              <td><span>Row 5</span></td>
              <td><span>Row 5</span></td>
              <td><span>Lorem Ipsum is Row 5</span></td>
              <td><span>Row 5</span></td>
              <td><span>RowLorem Ipsum is Lorem Ipsum is Lorem Ipsum is  5</span></td>
              <td><span>Row 5</span></td>
          </tr>
          <tr>
              <td><span>Row 6</span></td>
              <td><span>It is a long established fac</span></td>
              <td><span>RowLorem Ipsum is  6</span></td>
              <td><span>Row 6</span></td>
              <td><span>Row 6</span></td>
              <td><span>It is a long established fac</span></td>
              <td><span>RowLorem Ipsum is  6</span></td>
              <td><span>Row 6</span></td>
              <td><span>Row 6</span></td>
          </tr>
          <tr>
              <td><span>Row dafa7</span></td>
              <td><span>Row 7</span></td>
              <td><span></span></td>
              <td><span>Lorem Ipsum is  7</span></td>
              <td><span>Row 7</span></td>
              <td><span>Row 7</span></td>
              <td><span></span></td>
              <td><span>Lorem Ipsum is  7</span></td>
              <td><span>Row 7</span></td>
          </tr>
          <tr>
              <td><span>Row 8</span></td>
              <td><span>Row 8</span></td>
              <td><span>RIt is a long established fac</span></td>
              <td><span>Row 8</span></td>
              <td><span>Lorem Ipsum is  8</span></td>
              <td><span>Row 8</span></td>
              <td><span>RIt is a long established fac</span></td>
              <td><span>Row 8</span></td>
              <td><span>Lorem Ipsum is  8</span></td>
          </tr>
          <tr>
              <td><span>Row 9</span></td>
              <td><span>Row 9</span></td>
              <td><span>Row 9</span></td>
              <td><span></span></td>
              <td><span>Row 9</span></td>
              <td><span>Row 9</span></td>
              <td><span></span></td>
              <td><span>Row 9</span></td>
              <td><span>Row 9</span></td>
          </tr>
          <tr>
              <td><span>Row 10</span></td>
              <td><span>Row 10</span></td>
              <td><span>Row Lorem Ipsum is Lorem Ipsum is 0</span></td>
              <td><span>Row 10</span></td>
              <td><span>It is a long established fac</span></td>
              <td><span>Row 10</span></td>
              <td><span>Row 10</span></td>
              <td><span>Row Lorem Ipsum is Lorem Ipsum is 0</span></td>
              <td><span>Row 10</span></td>
          </tr>
          <tr>
            <td><span>Row 11</span></td>
            <td><span>Lorem Ipsum is Row 11</span></td>
            <td><span>Row 11</span></td>
            <td><span>RowLorem Ipsum is Lorem Ipsum is Lorem Ipsum is 11</span></td>
            <td><span>Row 11</span></td>
            <td><span>Lorem Ipsum is Row 11</span></td>
            <td><span>Row 11</span></td>
            <td><span>RowLorem Ipsum is Lorem Ipsum is Lorem Ipsum is  11</span></td>
            <td><span>Row 11</span></td>
        </tr>
        <tr>
          <td><span>Row 12</span></td>
          <td><span>Lorem Ipsum is Row 12</span></td>
          <td><span>Row 12</span></td>
          <td><span>Lorem Ipsum is Row 12</span></td>
          <td><span>Row 12</span></td>
          <td><span>RowLorem Ipsum is Lorem Ipsum is Lorem Ipsum is  12</span></td>
          <td><span>Row 12</span></td>
          <td><span>RowLorem Ipsum is Lorem Ipsum is Lorem Ipsum is  12</span></td>
          <td><span>Row 12</span></td>
      </tr>
      <tr>
        <td><span>Row 13</span></td>
        <td><span>Lorem Ipsum is Row 13</span></td>
        <td><span></span></td>
        <td><span>Row 13</span></td>
        <td><span>Lorem Ipsum is Row 13</span></td>
        <td><span></span></td>
        <td><span>RowLorem Ipsum is Lorem Ipsum is Lorem Ipsum is  13</span></td>
        <td><span>RowLorem Ipsum is Lorem Ipsum is Lorem Ipsum is  13</span></td>
        <td><span>Row 13</span></td>
    </tr>
      </tbody>
    </table>
</div>
